<!DOCTYPE html>
<html>
<head>
	<title>Flask</title>
	<style>
	*{
        margin: 0px;
        padding: 0px;
	}
    main{
        width: 60%;
        float: left;
        padding: 20px;
        box-sizing: border-box;
    }
    aside{
        width: 40%;
        float: right;
    }
    img{
        width: 200px;
        height: auto;
    }
</style>
</head>
<body>
    <main>
    	<input id="select_image" type="file"/>
    	<button id ="predict">Predict</button>
    	<p style="front-weight:bold">prediction</p>
        <p>Okay: <span id="ok"></span></p>
        <p>Fault: <span id="fault"></span></p>

        <img id="preview" src=""/>
    </main>
    <aside>
        <div class="today">
            <h2>Today</h2>
            <h3 id="thik"></h3>
            <h3 id="gadbad"></h3>
        </div>
        <div class="history">
            <% for(var i = 0; i < log.length; i++){ %>
                <p><%= log[i].date %>, <%= log[i].ok %>, <%= log[i].fault %></p>
            <% } %>
        </div>
    </aside>
</body>



<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function(){

	var base64Image;
    $('#select_image').change(function(){

        var reader=new FileReader()
        reader.onload=function(e){  
            var dataURL=reader.result;
            $('#preview').attr("src",dataURL);
            base64Image=dataURL.replace("data:image/png;based64","");
        }
        reader.readAsDataURL($('#select_image')[0].files[0]);
        $('#cat').text(""); $('#dog').text("");
    });

    $("#predict").click(function(event){
        var data={ image:base64Image }

        $.ajax({
            type: 'POST',
            url: '/image',
            data,
            success: function(response) {
                console.log(response)
                console.log(response.prediction.fault)
                $('#ok').text(response.prediction.ok); $('#fault').text(response.prediction.fault);
                $('#thik').text(response.statics.ok); $('#gadbad').text(response.statics.notok);
            },
            error: function(error) {    
                alert(error.responseText);
                console.log(error.responseText);
            }
        });
    });
})
</script>
</html>